.App {
  text-align: center;
}

body {
  background: lightgray;
}

.block {
  height: 500px;
  width: 500px;
  border: 1px solid lightgray;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

section {
  height: 50%;
  width: 50%;
  border: 1px solid lightgray;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
}

/* section:hover {
  background: lightgray;
  cursor: pointer;
} */

button {
  margin: 45px;
  height: 2rem;
  width: 150px;
  border-radius: 5px;
  font-size: 1.25rem;
}

button:hover {
  background: magenta;
  cursor: pointer;
}

h4, p {
  margin: 0;
}

h4 {
  margin-bottom: 5px;
}

.health {
  background: #c6e48b;
}